#footer {
    color: #ddd;
    background-color: #000;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ec7d10;
}

.footer__flex-container {
    /*border: 1px solid red;*/
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
    margin-top: 10px;
}

.footer__box {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer__section-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #ec7d10;
}

.footer__section-list {
    color: #ccc;
    font-size: 14px;
    font-weight: 500;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 1.9;
}

.icon-ig, .icon-fb {
    vertical-align: bottom;
    opacity: 0.9;
}
.icon-ig { width: 25px; margin-right: 5px; padding-bottom: 1px;}
.icon-fb { width: 21px; margin-right: 8px; padding-bottom: 3px;}


.footer__logo-container img {
    width: 150px;
    margin: 50px 0 10px 4px;
    opacity: 0.9;
}

.footer__logo-bottom {
    text-align: center;
    color: #ccc;
    font-size: 13px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    line-height: 0.9;
}




.footer__copyrigth-bottom {
    color: #777;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}