* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif; /* Importado en <style> */
    font-size: 16px;
    background-color: #000;
    overscroll-behavior-x: contain;
    touch-action: pan-y;
    scrollbar-width: none;
}

.noScroll {
    overflow: hidden;
}

.oculto {
    display: none !important; 
}







/*===================================
    TITULOS, SUBTITULOS Y PARRAFOS 
====================================*/

h2 > span { /* Necesario para que funcione bien la animacion anim-fade-up */
    display: inline-block;
}

.subtitle-h2 {
    font-size: 38px;
    font-weight: 600;
}

.subtitle-h4 {
    /* border: 1px solid blue;*/
    font-size: 29px;
    font-weight: 600;
}

.paragraph {
    /* border: 1px solid blue;*/
    font-size: 19px;
    font-weight: 500;
}

.paragraph--white {
    color: #fff;
}

.paragraph--gray {
    color: #aaa;
}







/*======================
        BOTONES
=======================*/

/* Calculá tu presupuesto (Original) */
.button-budget {
    color: #fff;
    text-decoration: none;
    background-color: rgb(0, 113, 227);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
    font-size: 1.3rem;
    font-weight: 400;
    width: 180px;
    margin: 0 auto;
    padding: 8px 33px 9px 33px;
    border: none;
    border-radius: 40px;
    transform: scale(1); /* Escalas distintas en algunos lugares */
}



/* Contacto WhatsApp */
.button-whatsapp-contacto {
    color: #ddd;
    font-size: 12px;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 1px;
}
.button-whatsapp-contacto img {
    width: 20px;
    opacity: 0.9;
}


/* "Quiero emprender" de seccion "EMPRENDER"*/
.button-emprender {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #444;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 10px 11px 10px 10px;
    border: none;
    border-radius: 40px;
    transform: scale(1); /* Escalas distintas en algunos lugares */
}
.button-emprender p:first-child {
    padding-bottom: 2px;
    padding-left: 6px;
}
.button-emprender p:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 113, 227);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding-top: 3px;
}


.button-developer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    color: #ddd;
    text-decoration: none;
    font-size: 11px;
    background-color: transparent;
    border-radius: 20px;
    padding: 3px 0 4px 0;
    margin: 0 auto;
    width: 82px;
}











/*======================================
            ANIMACIONES
=======================================*/


/* Fade-in/Slide-up (Aparicion desde abajo) Para elementos múltiples */

.anim-fade-up {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.85s ease, transform 0.85s ease;
}

.anim-fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}





