header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #555;
    padding-top: 2px;
}

#nav__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



/* Menú hamburguesa (botón) */
.nav__menu-hamburger {
    
    box-sizing: border-box;
    width: 85px;
    height: 40px;
    margin-left: 1px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
}
.menuHamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    z-index: 5;
}
.hamburger-style {
    width: 36px;
    height: 1px;
    background-color: #fff;
    transition: all 0.3s ease;
    transform-origin: center;
}
.menuHamburger-button.open span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.menuHamburger-button.open span:nth-child(2) {
    opacity: 0;
}
.menuHamburger-button.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}



/* Menú hamburguesa (menú-lista desplegable) */
.menuHamburger-menu.activo { opacity: 1; }
.menuHamburger-menu {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #000;
    height: 100dvh;
    width: 100dvw;
    z-index: 3;
    padding: 95px 10vw 35px 10vw;
    list-style: none;
    gap: 0px;
    
}

.menuHamburgerMenu__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: start;
}

.menuHamburgerMenu__list > button {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    animation: none;
    text-align: left;
}
.mini-texto {
    color: #bbb;
    font-size: 13px;
    text-align: left;
    line-height: 0.8;
}
.menuHamburger-menu.activo [style*="--i"] {
    pointer-events: auto;
    opacity: 0;
    animation: slideIn 0.4s ease forwards;
    animation-delay: calc(var(--i) * 0.03s);
}

/* Trancision del texto dentro del menú */
@keyframes slideIn {
    from {
        transform: translateY(-60px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


.menuHamburgerMenu__redes-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.menuHamburgerMenu__developer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menuHamburgerMenu__developer-item {
    border-top: 1px solid #ec7d10;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: end;
    align-items: center;
    opacity: 0.9;
    font-weight: 300;
}





/* Logo central */
.nav__logo img {
    height: 40px;
    margin-top: 0px;
    opacity: 1;
    transition: opacity 0.4s ease;
    mask-image: linear-gradient(to left, transparent 0%,black 20%, black 80%, transparent 100%);
    position: relative;
    z-index: 4;
}
.nav__logo.opacar img { opacity: 0.5; }
.nav__logo.opacar a { pointer-events: none; }



/* Botón "cotizá" */
.nav__budget {
    box-sizing: border-box;
    width: 85px;
    margin-right: 1px;
    display: flex;
    justify-content: center;
}
.button-budget--nav {
    transform: scale(0.65);
    padding: 6px 25px;
    font-weight: 600;
}