.inicio__container {
    background-color: #000000;
    width: 100%;
}

.inicio__content {
    background-color: #000;
    text-align: center;
    color: #ddd;
    width: 100%;
    padding: 290px 0 0 0;
    margin: 0 auto;
}




/* SLOGAN Y ROBOT X3 */

.inicio__slogan-robot-container {
    height: 950px;
}

.inicio__slogan-robot-content {
    position: sticky;
    top: 70px;
}

.slogan-robot__logo {
    width: 100%;
    box-sizing: border-box;
}

.slogan-robot__logo > img {
    max-width: 90%;
    width: 400px;

    -webkit-animation: flicker-in-1 2s linear both;
            animation: flicker-in-1 2s linear both;
}

.slogan-robot__robot {
    padding: 40px 0 10px 0;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s ease;
}
.slogan-robot__robot.visible {
    opacity: 1;
}

.slogan-robot__robot > img {
    width: 100%;
    mask-image: 
        linear-gradient(to right, transparent 0%, black 15%, black 85%, transparent 100%), /* izquierda y derecha */
        linear-gradient(to top, transparent 0%, black 50%);                    /* abajo */
    mask-composite: intersect;
}




/* CONTADOR DESDE 0 (SHOWS Y PUBLICO TOTAL) */

.inicio__counter-container {
    background-color: #000;
    max-width: 100%;
    margin-top: -20px;
}

.inicio__counter-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.counter-2 {
    border-top: 3px solid #ddd;
    padding-top: 10px;
}

.counter-item__number {
    font-size: 60px;
    font-weight: 500;
}

.counter-item__text {
    font-size: 25px;
    text-transform: uppercase;
    padding: 0 6px;
}






















/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 @-webkit-keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flicker-in-1 {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    10.1% {
      opacity: 1;
    }
    10.2% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    20.1% {
      opacity: 1;
    }
    20.6% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    30.1% {
      opacity: 1;
    }
    30.5% {
      opacity: 1;
    }
    30.6% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    45.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    55% {
      opacity: 1;
    }
    55.1% {
      opacity: 0;
    }
    57% {
      opacity: 0;
    }
    57.1% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    60.1% {
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    65.1% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    75.1% {
      opacity: 0;
    }
    77% {
      opacity: 0;
    }
    77.1% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    85.1% {
      opacity: 0;
    }
    86% {
      opacity: 0;
    }
    86.1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  