#presupuesto {
    color: #fff;
    background-color: #111;
}




/*========================
        CONTENEDOR 
=========================*/

.presupuesto__container {
    width: 100%;
    padding-bottom: 40px;
}
/*
.presupuesto__content {

}
*/
.presupuesto__title {
    text-align: center;
    padding: 30px 0;
}




/*===========================
        BOX PRESUPUESTO 
============================*/
#presupuesto__box {
    background-color: #000;
    margin: 5px 4vw 15px 4vw;
    padding: 4vw 3vw;
    box-sizing: border-box;
    scroll-margin-top: 63px;
    border: 0.7px solid #ec7d10;
    border-radius: 25px;
}
/*
.box-title, .box-servicios, .box-item {
    border: 1px solid red;
}
*/
.presupuesto__box-title {
    text-align: center;
    padding: 10px;
}




/*===========================
    BOTONES SHOW/EMPRENDER 
============================*/
.presupuesto__box-servicios {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
}

.presupuesto__box-servicios-button {
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 10px 0 0 0;
}

.presupuesto__button-show, .presupuesto__button-emprender {
    width: 80%;
    border: none;
    background-color: transparent;
    color: #ccc;
    font-size: 16px;
    font-weight: 200;
    padding-bottom: 5px;
    padding-top: 10px;
}

.presupuesto__button-show.activo,
.presupuesto__button-emprender.activo {
    border-bottom: 2px solid #aaa;
    font-weight: 700;
    /* Estas propiedades deben cambiar al de "emprender" al tocar */
}




/*=============================
        FORMULARIO "SHOW" 
==============================*/

.presupuesto__box-show,
.presupuesto__box-emprender {
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
/* En global.css ".oculto" oculta una u otra seccion */

.presupuesto-show__item-box {
    padding: 10px;
}

.presupuesto-show__pregunta {
    color: #ddd;
    padding-left: 1px;
    padding-bottom: 6px;
}

.presupuesto-show__pregunta label {
    font-size: 19px;
    font-weight: 600;
}

.presupuesto-show__pregunta p /* "opcional" */{
    font-size: 11px;
    padding: 3px 0;
    color: #777;
}






.presupuesto-show__opciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 14px 7px;
}
.presupuesto-show__opciones span {
    border: none;
    background-color: #333;
    color: #ccc;
    font-size: 15px;
    padding: 4px 9px;
    border-radius: 5px;
}
.opciones--num span /* Excepcion en botones de numeros robots */ {
    padding: 4px 20px;
}




/* "Que estas organizando?" opcion: "OTRO" */
.otro-evento__input { 
    display: none;
}
.otro-evento__input::placeholder {
    color: #666;
    font-style: italic;
}
/* Cuando el input padre esta seleccionado, se muestra el input interior */
.otro-evento:checked + span .otro-evento__input {
    display: inline-block;
    width: 180px;
    background-color: #333;
    color: #ccc;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 10px;
    margin: 0 0 0 8px;
}



/* Color celeste cuando los inputs estan selecionados */
.presupuesto-show__opciones input[type=radio],
.presupuesto-show__opciones input[type=checkbox] {
    display: none;
}
.presupuesto-show__opciones input:checked + span {
    background-color: rgb(0, 113, 227);
    color: #eee;
}
/* Solo aplicable a PC y dispositivos con puntero
.presupuesto-show__opciones input + span:hover {
    background-color: #222;
}
.presupuesto-show__opciones input:checked + span:hover {
    background-color: rgb(1, 98, 195);
} */




.item-box--precio {
    border: none;
    background-color: #222;
    border-radius: 8px;
    margin: 10px;
}
.presupuesto-show__precio {
    color: #aaa;
    font-size: 20px;
    font-weight: 400;
}

.presupuesto-show__precio-bottom {
    margin-top: 4px;
    font-size: 11.5px;
    color: #888;
}


.presupuesto__fecha-box, .presupuesto__textarea-box {
    width: 100%;
    margin: 0 2px;
}
.presupuesto__fecha-box {
    display: flex;
    align-items: center;
    gap: 8px;
}
.presupuesto__fecha-box svg {
    width: 30px;
    height: 30px;
    margin-top: 3px;
}
#presupuesto__fecha, #presupuesto__textarea {
    background-color: #333;
    border: 1px solid #aaa;
    font-size: 16px;
}
#presupuesto__fecha {
    width: 200px;
}
#presupuesto__textarea {
    width: 100%;
    resize: none;
    padding: 5px 10px;
    color: #ccc;
}
#presupuesto__textarea::placeholder { color: #666; font-style: italic; }








.presupuesto-show__button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    padding: 0 3vw;
}

.presupuesto-show__button {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    background-color: #28c76f;
    color: #fff;
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.presupuesto-show__button svg {
    width: 27px;
}

.presupuesto-show__button-bottom {
    text-align: left;
    font-size: 13px;
    opacity: 0.5;
}


/* OPACIDAD EN OPCIONES (Activado solo al seleccionar opciones anteriores) */
#presupuesto__box-opacity-1, 
#presupuesto__box-opacity-2 {
    opacity: 1;
    transition: opacity 0.3s ease;
}
#presupuesto__box-opacity-1.box-opacar,
#presupuesto__box-opacity-2.box-opacar {
    opacity: 0.3;
    pointer-events: none;
}